package ${package}.${moduleName}.service;


import com.github.pagehelper.PageHelper;
import com.github.pagehelper.PageInfo;
import com.icloud.common.MapEntryUtils;
import com.icloud.common.PageUtils;
import ${package}.${moduleName}.entity.${className};
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;
import com.icloud.basecommon.service.BaseServiceImpl;
import ${package}.${moduleName}.dao.${className}Mapper;
import org.springframework.beans.factory.annotation.Autowired;
import java.util.List;
import java.util.Map;
/**
 * ${comments}
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Service
@Transactional
public class ${className}Service extends BaseServiceImpl<${className}Mapper,${className}> {

    @Autowired
    private ${className}Mapper ${classname}Mapper;

    @Override
    public PageUtils<${className}> findByPage(int pageNo, int pageSize, Map<String, Object> query) {
        PageHelper.startPage(pageNo, pageSize);
        List<${className}> list = ${classname}Mapper.queryMixList(MapEntryUtils.clearNullValue(query));
        PageInfo<${className}> pageInfo = new PageInfo<${className}>(list);
        PageUtils<${className}> page = new PageUtils<${className}>(list,(int)pageInfo.getTotal(),pageSize,pageNo);
        return page;
    }
}

