<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
    <script src="${request.contextPath}/statics/libs/ajaxupload.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

    <style>
       .bootstrap-select{
            width: 122% !important;
        }
        .ui-jqgrid {
            margin-top: 4.5rem !important;
        }
        .jqGrid{
            margin-top: 0rem !important;
        }
        .row {
            border-top: 1px solid #ddd;
            margin: 0.3rem !important;
            padding: 10px 2px 0px 2px !important;
        }
    </style>
</head>
<body>
<div id="icloudapp" v-cloak>
    <div v-show="showList">
        <div class="row">
            <div class="col-lg-1">
                <input type="text" class="form-control" v-model="q.adName" @keyup.enter="query" placeholder="广告名称">
            </div>
            <div class="col-lg-1">
                <input type="text" class="form-control" v-model="q.shopName" @keyup.enter="query" placeholder="所属店铺">
            </div>
            <div class="col-lg-1">
                <select class="selectpicker" title="状态" v-model="q.status" style="width: 103px;">
                    <option value="">全部</option>
                    <option value="0">停用</option>
                    <option value="1">使用</option>
                </select>
            </div>
            <div class="col-lg-1">
                <select class="selectpicker" title="广告位置" v-model="q.posittionId" style="width: 103px;">
                    <option value="">全部</option>
                    <option value="0">首页广告</option>
                    <option value="1">其他</option>
                </select>
            </div>
            <div class="col-lg-1">
                <a class="btn btn-default" @click="query">查询</a>
            </div>

            <#if shiro.hasPermission("bsactivity:bsactivityad:save")>
            <a class="btn btn-primary" @click="add"  style="float: right; padding: 3px 8px;margin-right:7rem"><i class="fa fa-plus"></i>&nbsp;新增</a>
            </#if>
            <!--<#if shiro.hasPermission("bsactivity:bsactivityad:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            </#if>
            <#if shiro.hasPermission("bsactivity:bsactivityad:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            </#if>
            <#if shiro.hasPermission("bsactivity:bsactivityad:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            </#if>-->
    </div>
    <div class="grid-btn">
        <div class="col-sm-6">
           <!-- <div class="col-sm-1 control-label" style="line-height: 3rem;color:#808080;width:15%;text-align:right;">查询时间段:</div>-->
            <el-date-picker
                    v-model="q.startTime"
                    type="datetime"
                    placeholder="选择开始日期" value-format="yyyy-MM-dd HH:mm:ss" >
            </el-date-picker>
            <el-date-picker
                    v-model="q.endTime"
                    type="datetime"
                    placeholder="选择结束日期" value-format="yyyy-MM-dd HH:mm:ss" >
            </el-date-picker>
        </div>
    </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">店铺名称</div>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{shopName}}
                        <span class="caret"></span>
                    </button>
                    <!--<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li v-for="(item,index) in shopList" :key="index"><a href="#" @click="selectShop(index)">{{item.shopName}}</a></li>
                    </ul>-->
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="bsactivityAd.adName" placeholder="名称"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">图片url</div>
                <img   :src="goodsimgshow" style="width:300px;height:150px;" v-model="bsactivityAd.adImgurl" placeholder="店铺图标"/>
                <div class="col-sm-10">
                    <a class="btn btn-primary" id="upload" style="margin-left:11rem;"><i class="fa fa-plus"></i>&nbsp;图片url</a>
                </div>
            </div>
			<div class="form-group">
                <div class="col-sm-2 control-label">跳转url</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="bsactivityAd.addJumpurl" placeholder="跳转url"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">广告位</div>
                <div class="col-sm-10">
                    <select class="form-control"  v-model="bsactivityAd.posittionId">
                        <option value="0" selected>首页广告</option>
                        <option value="1">其他</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">状态</div>
                <label class="radio-inline">
                    <input type="radio" name="status" value="1" v-model="bsactivityAd.status"/> 启用
                </label>
                <label class="radio-inline">
                    <input type="radio" name="status" value="0" v-model="bsactivityAd.status"/> 停用
                </label>
            </div>


			<div class="form-group">
                <div class="col-sm-2 control-label">排序</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="bsactivityAd.sortNum" placeholder="排序"/>
                </div>
            </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/bsactivity/bsactivityad.js?_${.now?long}"></script>
</body>
</html>