<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="icloudapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("mpwx:mpwxsucai:save")>
                <a class="btn btn-primary" @click="addOrupdateNewsWin();"><i class="fa fa-plus"></i>&nbsp;新增图文素材</a>
                <a class="btn btn-primary" @click="addOrupdatePicWin();"><i class="fa fa-plus"></i>&nbsp;新增图片素材</a>
			</#if>
			<!--<#if shiro.hasPermission("mpwx:mpwxsucai:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>-->

        </div>

        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">公众号记录Id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="mpwxSucai.wxappId" placeholder="公众号记录Id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="mpwxSucai.title" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">微信类型(1:单图文 2:多图文 3:文本 4:图片 5:语音 6:视频)</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="mpwxSucai.scType" placeholder="微信类型(1:单图文 2:多图文 3:文本 4:图片 5:语音 6:视频)"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">本地访问地址数组Json串</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="mpwxSucai.localUrls" placeholder="本地访问地址数组Json串"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">微信服务器素材地址数组Json串</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="mpwxSucai.wxUrls" placeholder="微信服务器素材地址数组Json串"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">微信素材id数组Json串</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="mpwxSucai.wxMediaids" placeholder="微信素材id数组Json串"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">比如图文信息格式封装</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="mpwxSucai.detailInfo" placeholder="比如图文信息格式封装"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="mpwxSucai.createTime" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="mpwxSucai.modifyTime" placeholder=""/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
            <!--    <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>-->
               <!-- &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>-->
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/mpwx/mpwxsucai.js?_${.now?long}"></script>
</body>
</html>